# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual env
venv/
.env

# Logs
*.log

# Qdrant
qdrant_data/
embeddings_storage/

# OS / editor
.DS_Store
.vscode/
.idea/
node_modules

# Editor junk
*.swp
*.swo
..gitignore.swp

# Docusaurus
.docusaurus/
build/
